<h1>Articles</h1>


<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <p><b><%= article.category.name %></b></p>
  <p><b><%= article.created_at %></b></p>
  <%= article.body %>
  <hr />
<% end %>

<%= will_paginate @articles %>
