<h1><%= t('main.title') %></h1>


<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <p><b><%= article.category.name %></b></p>
  <p><b><%= I18n.localize(article.created_at, :format => :long).capitalize %></b></p>
  <%= article.body %>
  <hr />
<% end %>

<%= will_paginate @articles %>
