<h1><%= t('articles.listing_articles') %></h1>

<table class="normal_table">
  <tr>
    <th><%= t('articles.fields.created') %></th>
    <th><%= t('articles.fields.title') %></th>
    <th><%= t('articles.fields.category') %></th>
    <th><%= t('articles.fields.body') %></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%=h article.created_at %></td>
    <td><%=h article.title %></td>
    <td><%=h article.category.name %></td>
    <td><%=h article.body[0..30] + "..." %></td>
    <td><%= link_to t('general.show'), [:admin, article] %></td>
    <td><%= link_to t('general.edit'), edit_admin_article_path(article) %></td>
    <td><%= link_to t('general.destroy'), [:admin, article], :confirm => t('general.confirmation'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('general.new'), new_admin_article_path %>