<% form_for @user do |form| %>
  <%= form.error_messages %>
    <li>
      <%= form.label :login, "Username" %>
      <%= form.text_field :login %>
    </li>
    <li>
      <%= form.label :email, "Email" %>
      <%= form.text_field :email %>
    </li>
    <li>
      <%= form.label :password, "Password" %>
      <%= form.password_field :password %>
    </li>
    <li>
      <%= form.label :password_confirmation, "Password confirmation" %>
      <%= form.password_field :password_confirmation %>
    </li>
    <li>
      <%= form.submit "Submit" %>
    </li>
<% end %>