Model:
<% Permission::PERMISSIONS.each do |model, other| %>
  [<%= link_to model, edit_admin_role_path(@role, :model => model) %>]
<% end %>
--> <%= link_to_remote "SAVE PERMISSIONS", :url => {:action => :save_permissions, :controller => :roles },
    :submit => "form_permissions", :update => "save_permissions" %>

<div id="save_message">
  <%= render :partial => "save_message", :object => @saved_message %>
</div>



<% if params[:model] %>
  <div id="form_permissions">
    <%= hidden_field "form", "role_id", :size => 5, :value => @role.id %>
    <br />

    <% Permission::PERMISSIONS[(params[:model]).to_sym].each do |table, other| %>
      <p>
      <table>
        <th><%= table %></th>
        <% Permission::PERMISSIONS[(params[:model]).to_sym][table.to_sym][:columns].each do |col| %>
          <th><%= col %></th>
        <% end %>
        <% Permission::PERMISSIONS[(params[:model]).to_sym][table.to_sym][:rows].each do |row| %>
          <tr>
            <td><%= row %></td>
            <% Permission::PERMISSIONS[(params[:model]).to_sym][table.to_sym][:columns].each do |col| %>
              <td align="center">
                <% text_field_name =  params[:model].to_s + "_" + table.to_s + "_" + col + "_" + row %>
                <%= hidden_field "permission", text_field_name, :size => 5, :value => get_permission(@role, text_field_name) %>


                <a title="Grant - <%= text_field_name %>" onclick="$('permission_<%= text_field_name %>').value = 'G';
                          $('img_inh_<%= text_field_name %>').hide(); $('img_ver_<%= text_field_name %>').show();"
                   id="img_inh_<%= text_field_name %>"><img src="/images/icons/inherit.png" /></a>

                <a title="Grant - <%= text_field_name %>" onclick="$('permission_<%= text_field_name %>').value = 'D';
                          $('img_ver_<%= text_field_name %>').hide(); $('img_unv_<%= text_field_name %>').show();"
                   id="img_ver_<%= text_field_name %>"><img src="/images/icons/verified.png" /></a>

                <a title="Grant - <%= text_field_name %>" onclick="$('permission_<%= text_field_name %>').value = 'I';
                          $('img_unv_<%= text_field_name %>').hide(); $('img_inh_<%= text_field_name %>').show();"
                   id="img_unv_<%= text_field_name %>"><img src="/images/icons/unverified.png" /></a>


                <script>
                  $("<%= "img_inh_"+ text_field_name %>").hide();
                  $("<%= "img_ver_"+ text_field_name %>").hide();
                  $("<%= "img_unv_"+ text_field_name %>").hide();


        <% if get_permission(@role, text_field_name) == "I" or get_permission(@role, text_field_name) == "" %>
          $("<%= "img_inh_"+ text_field_name %>").show();
        <% elsif get_permission(@role, text_field_name) == "G" %>
          $("<%= "img_ver_"+ text_field_name %>").show();
        <% elsif get_permission(@role, text_field_name) == "D" %>
          $("<%= "img_unv_"+ text_field_name %>").show();
        <% end %>
          
                </script>

              </td>
            <% end %>
          </tr>
        <% end %>

      </table>
    </p>

  <% end %>
  </div>
<% end %>

