<h1>Editing Role</h1>

<% form_for([:admin, @role]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<hr />
Permissions here...
<hr />

<%= link_to 'Show', [:admin, @role] %> |
<%= link_to 'Back', admin_roles_path %>