<h1><%= t('roles.listing_roles') %></h1>

<table class="normal_table">
  <th><%= t('roles.fields.name') %></th>
  <% @roles.each do |role|  %>
    <tr>
      <td><%= role.name %></td>
      <td><%= link_to t('general.show'), [:admin, role] %></td>
      <td><%= link_to t('general.edit'), '/admin/roles/' + role.id.to_s + '/edit?model=' + Permission::PERMISSIONS.first.first.to_s %></td>
      <td><%= link_to t('general.destroy'), [:admin, role], :confirm => t('general.confirmation'), :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to t('general.new'), new_admin_role_path %>