<h1>Listing Roles</h1>

<table>
  <th>Role</th>
  <th>Roles</th>
  <% @roles.each do |role|  %>
    <tr>
      <td><%= role.name %></td>
      <td><%= role.roles %></td>
      <td><%= link_to 'Show', [:admin, role] %></td>
      <td><%= link_to 'Edit', '/admin/roles/' + role.id.to_s + '/edit?model=' + Permission::PERMISSIONS.first.first.to_s %></td>
      <td><%= link_to 'Destroy', [:admin, role], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New role', new_admin_role_path %>