<h1><%= t('roles.new_role') %></h1>


<% form_for([:admin, @role]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, t('roles.fields.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t('general.submit') %>
  </p>
<% end %>

<%= link_to t('general.back'), admin_roles_path %>