<h1><%= t('roles.show_role') %></h1>

<p>
  <b><%= t('roles.fields.name') %>:</b>
  <%=h @role.name %>
</p>


<%= link_to t('general.edit'), '/admin/roles/' + @role.id.to_s + '/edit?model=' + Permission::PERMISSIONS.first.first.to_s %>
<%= link_to t('general.back'), admin_roles_path %>