<h1><%= t('categories.listing_categories') %></h1>

<table class="normal_table">
  <tr>
    <th><%= t('categories.fields.name') %></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.name %></td>
    <td><%= link_to t('general.show'), [:admin, category] %></td>
    <td><%= link_to t('general.edit'), edit_admin_category_path(category) %></td>
    <td><%= link_to t('general.destroy'), [:admin, category], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('general.new'), new_admin_category_path %>