<% form_for([:admin, @user]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login, "Username" %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Password confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <!--
  <p>
  <%#= f.label :is_admin %><br />
  <%#= f.check_box :is_admin %>
  </p>
  -->
  <p>
    <%= f.label :is_enabled %><br />
    <%= f.check_box :is_enabled %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.select :language, [['English', 'en'], ['Español', 'es']] %>
  </p>

  <p>
    Roles:<br />
    <% @roles.each do |role| %>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      <%= role.name %><br />
    <% end %>
  </p>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>