<ul id="menu">
  
  <li>Home
    <ul>
      <li><%= link_to 'Go home', '/main' %></li>
    </ul>
  </li>

  <% if current_user && current_user.is_admin %>
    <li>Admin
      <ul>
        <li><%= link_to "Articles", admin_articles_path %></li>
        <li><%= link_to "Users", admin_users_path %></li>
        <li><%= link_to "Roles", admin_roles_path %></li>
      </ul>
    </li>
  <% end %>


  <li>User
    <ul>
      <% if current_user %>
        <li><%= link_to "Edit profile", edit_user_path(:current) %></li>
        <!--
        <li><%= link_to "Log out", logout_path %> </li>
        -->
      <% else %>
        <li><%= link_to 'Register', new_user_path %></li>
        <li><%= link_to "Log in", login_path %> </li>
      <% end %>
    </ul>
  </li>

</ul>